{% extends "layout/layout.html" %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div>
        <h1>Inputs</h1>
    </div>
    <!-- ISO 25010 attributes, regroup inputs -->
    <form method="post" action="results" enctype="multipart/form-data">
        <div class="row group-inputs">
            <div class="col-md-12 group-inputs-title">
                <h2>Security</h2>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <div class="col-md-12 pane-title">
                        <h3>Public blockchain</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="public" id="public" value="1"
                                   checked>
                            <label class="form-check-label" for="public">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="public" id="public"
                                   value="0">
                            <label class="form-check-label" for="public">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="publicRequiredCheck"
                                       name="publicRequiredCheck">
                                <label class="form-check-label" for="publicRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="publicPreference" name="publicPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <div class="col-md-12 pane-title">
                        <h3>Permissionned blockchain</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="permissionned"
                                   id="permissionned" value="1" checked>
                            <label class="form-check-label" for="permissionned">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="permissionned"
                                   id="permissionned" value="0">
                            <label class="form-check-label" for="permissionned">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="permissionnedRequiredCheck"
                                       name="permissionnedRequiredCheck">
                                <label class="form-check-label" for="permissionnedRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="permissionnedPreference" name="permissionnedPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <div class="col-md-12 pane-title">
                        <h3>Native data encryption</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="nativeDataEncryption"
                                   id="nativeDataEncryption" value="1" checked>
                            <label class="form-check-label" for="nativeDataEncryption">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="nativeDataEncryption"
                                   id="nativeDataEncryption" value="0">
                            <label class="form-check-label" for="nativeDataEncryption">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="nativeDataEncryptionRequiredCheck"
                                       name="nativeDataEncryptionRequiredCheck">
                                <label class="form-check-label" for="nativeDataEncryptionRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="nativeDataEncryptionPreference"
                                    name="nativeDataEncryptionPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row group-inputs">
            <div class="col-md-12 group-inputs-title">
                <h2>Performance</h2>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Throughput</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="throughput" name="throughput" placeholder="Type your desired throughput ...">
                            <div class="input-group-append">
                              <span class="input-group-text" id="throughput-unit">tx/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="throughputRequiredCheck"
                                       name="throughputRequiredCheck">
                                <label class="form-check-label" for="throughputRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="throughputPreference" name="throughputPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Latency</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="latency" name="latency" placeholder="Type your desired latency ...">
                            <div class="input-group-append">
                              <span class="input-group-text" id="latency-unit">s</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="latencyRequiredCheck"
                                       name="latencyRequiredCheck">
                                <label class="form-check-label" for="latencyRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="latencyPreference" name="latencyPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <div class="col-md-12 pane-title">
                        <h3>Energy efficient</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="energySaving"
                                   id="energySaving" value="1" checked>
                            <label class="form-check-label" for="energySaving">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="energySaving"
                                   id="energySaving" value="0">
                            <label class="form-check-label" for="energySaving">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="energySavingRequiredCheck"
                                       name="energySavingRequiredCheck">
                                <label class="form-check-label" for="energySavingRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="energySavingPreference" name="energySavingPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row group-inputs">
            <div class="col-md-12 group-inputs-title">
                <h2>Reliability</h2>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Byzantine-fault tolerance</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="byzantineProof" name="byzantineProof" placeholder="Type your desired percentage ...">
                            <div class="input-group-append">
                              <span class="input-group-text" id="byzantineProof-unit">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="byzantineProofRequiredCheck"
                                       name="byzantineProofRequiredCheck">
                                <label class="form-check-label" for="byzantineProofRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="byzantineProofPreference" name="byzantineProofPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row group-inputs">
            <div class="col-md-12 group-inputs-title">
                <h2>Functionnality</h2>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Smart-Contracts</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="smartContract"
                                   id="smartContract" value="1" checked>
                            <label class="form-check-label" for="smartContract">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="smartContract"
                                   id="smartContract" value="0">
                            <label class="form-check-label" for="smartContract">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="smartContractRequiredCheck"
                                       name="smartContractRequiredCheck">
                                <label class="form-check-label" for="smartContractRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="smartContractPreference" name="smartContractPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Cryptocurrencies</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cryptocurrency"
                                   id="cryptocurrency" value="1" checked>
                            <label class="form-check-label" for="cryptocurrency">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cryptocurrency"
                                   id="cryptocurrency" value="0">
                            <label class="form-check-label" for="cryptocurrency">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="cryptocurrencyRequiredCheck"
                                       name="cryptocurrencyRequiredCheck">
                                <label class="form-check-label" for="cryptocurrencyRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="cryptocurrencyPreference" name="cryptocurrencyPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Storage element functionnalities</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storageElt" id="storageElt"
                                   value="0.8" checked>
                            <label class="form-check-label" for="storageElt">Advanced</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storageElt" id="storageElt"
                                   value="0.3">
                            <label class="form-check-label" for="storageElt">Basic</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="storageElt" id="storageElt"
                                   value="0">
                            <label class="form-check-label" for="storageElt">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="storageEltRequiredCheck"
                                       name="storageEltRequiredCheck">
                                <label class="form-check-label" for="storageEltRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="storageEltPreference" name="storageEltPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Computational element functionnalities</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="computationalElt"
                                   id="computationalElt" value="0.8" checked>
                            <label class="form-check-label" for="computationalElt">Advanced</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="computationalElt"
                                   id="computationalElt" value="0.3">
                            <label class="form-check-label" for="computationalElt">Basic</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="computationalElt"
                                   id="computationalElt" value="0">
                            <label class="form-check-label" for="computationalElt">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="computationalEltRequiredCheck"
                                       name="computationalEltRequiredCheck">
                                <label class="form-check-label" for="computationalEltRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="computationalEltPreference" name="computationalEltPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Asset management functionnalities</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="assetMgElt" id="assetMgElt"
                                   value="0.8" checked>
                            <label class="form-check-label" for="assetMgElt">Advanced</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="assetMgElt" id="assetMgElt"
                                   value="0.3">
                            <label class="form-check-label" for="assetMgElt">Basic</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="assetMgElt" id="assetMgElt"
                                   value="0">
                            <label class="form-check-label" for="assetMgElt">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="assetMgEltRequiredCheck"
                                       name="assetMgEltRequiredCheck">
                                <label class="form-check-label" for="assetMgEltRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="assetMgEltPreference" name="assetMgEltPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Software connector functionnalities</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="softwareConnectorElt"
                                   id="softwareConnectorElt" value="0.8" checked>
                            <label class="form-check-label" for="softwareConnectorElt">Advanced</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="softwareConnectorElt"
                                   id="softwareConnectorElt" value="0.3">
                            <label class="form-check-label" for="softwareConnectorElt">Basic</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="softwareConnectorElt"
                                   id="softwareConnectorElt" value="0">
                            <label class="form-check-label" for="softwareConnectorElt">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="softwareConnectorEltRequiredCheck"
                                       name="softwareConnectorEltRequiredCheck">
                                <label class="form-check-label" for="softwareConnectorEltRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="softwareConnectorEltPreference" name="softwareConnectorEltPreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row group-inputs">
            <div class="col-md-12 group-inputs-title">
                <h2>Usability</h2>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 input-pane">
                    <!-- Numeric example -->
                    <div class="col-md-12 pane-title">
                        <h3>Learning curve</h3>
                    </div>
                    <div class="col-md-12">
                        <select class="form-control custom-select" id="learningCurve" name="learningCurve">
                            <option value="0.2">Low</option>
                            <option value="0.4">Medium</option>
                            <option value="0.6">High</option>
                            <option value="0.8">Very high</option>
                        </select>
                    </div>
                    <hr/>
                    <div class="col-md-12 upper-separation">
                        <div class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="learningCurveRequiredCheck"
                                       name="learningCurveRequiredCheck">
                                <label class="form-check-label" for="learningCurveRequiredCheck">Required</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control custom-select" id="learningCurvePreference" name="learningCurvePreference">
                                <option value="0">Indifferent</option>
                                <option value="0.25">Weakly desirable</option>
                                <option value="0.5">Desirable</option>
                                <option value="0.75">Highly desirable</option>
                                <option value="1">Extremely desirable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>

            <input type="submit" class="btn btn-dark" value="Get Your Recommandation!"></input>

        </div>
        <br/>
    </form>
  </div>
{% endblock %}
