{% extends "layout/layout.html" %}
{% from "macros/requirements_fields.jinja" import boolean_requirement, numeric_requirement, option_requirement %}

{% block content %}
  {{ super() }}
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 left-subcontainer subcontainer">
            <h1>Inputs</h1>
    <!-- ISO 25010 attributes, regroup inputs -->
        <form method="post" action="results" enctype="multipart/form-data">
            <div class="row group-inputs">
                <div class="col-md-12 group-inputs-title">
                    <h2>Security</h2>
                </div>
                {{ boolean_requirement("Public blockchain", "public") }}
                {{ boolean_requirement("Permissionned blockchain", "permissionned") }}
                {{ boolean_requirement("Native data encryption", "nativeDataEncryption") }}
            </div>

            <div class="row group-inputs">
                <div class="col-md-12 group-inputs-title">
                    <h2>Performance</h2>
                </div>
                {{ numeric_requirement("Throughput", "throughput", "Type your desired throughput ...", "tx/s") }}
                {{ numeric_requirement("Latency", "latency", "Type your desired latency ...", "s") }}
                {{ boolean_requirement("Energy efficient", "energySaving") }}
            </div>

            <div class="row group-inputs">
                <div class="col-md-12 group-inputs-title">
                    <h2>Reliability</h2>
                </div>
                {{ numeric_requirement("Byzantine-fault tolerance", "byzantineProof", "Type your desired percentage ...", "%") }}
            </div>

            <div class="row group-inputs">
                <div class="col-md-12 group-inputs-title">
                    <h2>Functionnality</h2>
                </div>
                {{ boolean_requirement("Smart-contracts", "smartContract") }}
                {{ boolean_requirement("Cryptocurrencies", "cryptocurrency") }}
                {{ option_requirement(
                    "Storage element functionnalities", 
                    "storageElt", 
                    [
                        {
                            "name": "No",
                            "value": 0
                        },
                        {
                            "name": "Basic",
                            "value": 0.3
                        },
                        {
                            "name": "Advanced",
                            "value": 0.8
                        },
                    ]
                )}}
                {{ option_requirement(
                    "Computational element functionnalities", 
                    "computationalElt", 
                    [
                        {
                            "name": "No",
                            "value": 0
                        },
                        {
                            "name": "Basic",
                            "value": 0.3
                        },
                        {
                            "name": "Advanced",
                            "value": 0.8
                        },
                    ]
                )}}
                {{ option_requirement(
                    "Asset management functionnalities", 
                    "assetMgElt", 
                    [
                        {
                            "name": "No",
                            "value": 0
                        },
                        {
                            "name": "Basic",
                            "value": 0.3
                        },
                        {
                            "name": "Advanced",
                            "value": 0.8
                        },
                    ]
                )}}
                {{ option_requirement(
                    "Software connector functionnalities", 
                    "softwareConnectorElt", 
                    [
                        {
                            "name": "No",
                            "value": 0
                        },
                        {
                            "name": "Basic",
                            "value": 0.3
                        },
                        {
                            "name": "Advanced",
                            "value": 0.8
                        },
                    ]
                )}}
            </div>

            <div class="row group-inputs">
                <div class="col-md-12 group-inputs-title">
                    <h2>Usability</h2>
                </div>
                {{ option_requirement(
                    "Learning curve", 
                    "learningCurve", 
                    [
                        {
                            "name": "Low",
                            "value": 0.2
                        },
                        {
                            "name": "Medium",
                            "value": 0.4
                        },
                        {
                            "name": "High",
                            "value": 0.6
                        },
                        {
                            "name": "Very high",
                            "value": 0.8
                        },
                    ]
                )}}
            </div>
            <div>
                <input type="submit" class="btn btn-dark" value="Get Your Recommandation!"></input>
            </div>
            <br/>
        </form>
        </div>
        <div class="col-md-6 right-subcontainer subcontainer">
            <h1>Results</h1>
        </div>
    </div>
  </div>
{% endblock %}
