{% extends "layout/layout.html" %}

{% block content %}
    {{ super() }}
    {% set attributes = alternatives[0]["consideredAttributes"] %}
    {% set properties = alternatives[0]["infoAttributes"] %}
    <div class="container">
        <h1>Blockchain alternatives</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <caption>Display all blockchain alternatives, by listing properties and values.</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    {% for alternative in alternatives %}
                        <td scope="col"><b>{{ alternative["name"] }}</b></td>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for prop in properties %}
                        <tr>
                            <th scope="row">{{ prop }}</th>
                            {% for alternative in alternatives %}
                                <td><i>{{ alternative["infoAttributes"][prop] }}</i></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {% for attr in attributes %}
                        <tr>
                            <th scope="row">{{ attr }}</th>
                            {% for alternative in alternatives %}
                                <td>{{ alternative["consideredAttributes"][attr] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}