{% extends "layout/layout.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <h1>Associated publications</h1>
        <div class="list-group group-inputs">
            <a href="https://arxiv.org/abs/2004.06080" class="list-group-item list-group-item-action">
                Six, Nicolas, Nicolas Herbaut, and Camille Salinesi. 
                "Which Blockchain to choose? A decision support tool to guide the choice of a Blockchain technology." 
                arXiv preprint arXiv:2004.06080 (2020).
            </a>
          </div>
    </div>
{% endblock %}