{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

<!doctype html>
<html>
  <head>
    {% block head %}
        {{ super() }}
        <head>
            <title>The BLADE project</title>
            <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        </head>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">        
        {% block navbar %}
        {{nav.mynavbar.render()}}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>