<footer class="footer">
  <div class="container-fluid footer-container">
    <div class="row">
      <div class="col-md-6 text-center">
        <p><b>Affiliations</b></p>
        <img src="/static/vendor/sorbonne.svg" class="img-fluid" width="200" alt="Université Paris 1 Panthéon-Sorbonne"/>
        <img src="/static/vendor/cri.png" class="img-fluid" width="200" alt="Centre de Recherche en Informatique (CRI)"/>
      </div>
      <div class="col-md-6">
        <p><b>Developed by</b></p>
        <div>Nicolas Six, Ph.D. student, Paris 1 Panthéon-Sorbonne</div>
        <div>Nicolas Herbaut, Associate Professor, Paris 1 Panthéon-Sorbonne</div>
        <div>Camille Salinesi, Professor, Paris 1 Panthéon-Sorbonne</div>
      </div>
    </div>
  </div>
</footer>