<!doctype html>
<html>
  <head>
    {% block head %}
        <title>{% block title %} The BLADE project {% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='vendor/favicon.png') }}" />
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% endblock %}
  </head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169201303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169201303-1');
</script>

  <body>
    <div id="navbar">
      {% include "layout/navbar.html" %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% include "layout/footer.html" %}
    </div>
  </body>
</html>
