.contains-subforms legend {
    font-size: 110%;
    padding-top: 20px;
}

.input-pane {
    background-color: #e9ecef;
    border-radius:5px;
    padding: 15px;
}

.group-inputs {
    padding-top: 30px;
}

.col-md-6 {
    padding-bottom: 15px;
}

.pane-title {
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.upper-separation {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-top: 1px solid lightgrey;
}

h3 {
    font-size:130%;
}

.navbar {
    margin-bottom: 20px;
}

html{
    position:relative; 
    min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
    margin:0;
    padding:0;
}
.pageContentWrapper{
    margin-bottom:100px;/* Height of footer*/
} 

#footer {
    margin-top: 160px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:#f8f9fa;
}

.footer-container {
    padding: 20px;
}

.group-inputs-title {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}